<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rt_gift_provider>
            <api>
                <enabled>0</enabled>
                <key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </api>
            <cron_settings>
                <schedule>0 0 * * *</schedule>
            </cron_settings>
        </rt_gift_provider>
    </default>
</config>
