<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="RealThanks\GiftProvider\Api\RtGiftRepositoryInterface"
                type="RealThanks\GiftProvider\Model\RtGiftRepository" />
    <preference for="RealThanks\GiftProvider\Api\RtOrderRepositoryInterface"
                type="RealThanks\GiftProvider\Model\RtOrderRepository" />
    <preference for="RealThanks\GiftProvider\Api\Data\RtGiftInterface"
                type="RealThanks\GiftProvider\Model\RtGift" />
    <preference for="RealThanks\GiftProvider\Api\Data\RtOrderInterface"
                type="RealThanks\GiftProvider\Model\RtOrder" />
    <!--  Synchronizer settings  START -->
    <preference for="RealThanks\GiftProvider\Model\Connection\Sync\SynchronizerListInterface" type="RealThanks\GiftProvider\Model\Connection\Sync\SynchronizerList" />
    <virtualType name="FullSynchronizerList"
                 type="RealThanks\GiftProvider\Model\Connection\Sync\SynchronizerList">
        <arguments>
            <argument name="synchronizerList" xsi:type="array">
                <item name="gift" xsi:type="object">RealThanks\GiftProvider\Model\Connection\Sync\GiftSynchronizer</item>
                <item name="order" xsi:type="object">RealThanks\GiftProvider\Model\Connection\Sync\OrderSynchronizer</item>
                <item name="balance" xsi:type="object">RealThanks\GiftProvider\Model\Connection\Sync\BalanceSynchronizer</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="RealThanks\GiftProvider\Cron\DataSynchronization">
        <arguments>
            <argument name="syncList" xsi:type="object">FullSynchronizerList</argument>
        </arguments>
    </type>
    <!--  Synchronizer settings  END -->

    <!--  Data provider settings  START -->
    <virtualType name="RealThanks\GiftProvider\Gift\DataProvider\SearchResult"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">realthanks_provider_gift</argument>
            <argument name="resourceModel" xsi:type="string">RealThanks\GiftProvider\Model\ResourceModel\RtGift</argument>
        </arguments>
    </virtualType>
    <virtualType name="RealThanks\GiftProvider\RtOrder\DataProvider\SearchResult"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">realthanks_provider_order</argument>
            <argument name="resourceModel" xsi:type="string">RealThanks\GiftProvider\Model\ResourceModel\RtOrder</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_gift_list_data_source" xsi:type="string">RealThanks\GiftProvider\Gift\DataProvider\SearchResult</item>
                <item name="grid_order_list_data_source" xsi:type="string">RealThanks\GiftProvider\RtOrder\DataProvider\SearchResult</item>
            </argument>
        </arguments>
    </type>
    <!--  Data provider settings  END -->
</config>
