<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RealThanks_GiftProvider::main" title="Real Thanks" module="RealThanks_GiftProvider" sortOrder="30" parent="Magento_Backend::marketing" resource="RealThanks_GiftProvider::rt_admin" dependsOnConfig="rt_gift_provider/api/enabled"/>
        <add id="RealThanks_GiftProvider::gift" title="Gifts" module="RealThanks_GiftProvider" sortOrder="10" parent="RealThanks_GiftProvider::main" action="realthanks/gift" resource="RealThanks_GiftProvider::rt_admin"/>
        <add id="RealThanks_GiftProvider::order" title="Order" module="RealThanks_GiftProvider" sortOrder="20" parent="RealThanks_GiftProvider::main" action="realthanks/rtorder" resource="RealThanks_GiftProvider::rt_admin"/>
        <add id="RealThanks_GiftProvider::settings" title="Settings" module="RealThanks_GiftProvider" sortOrder="30" parent="RealThanks_GiftProvider::main" action="adminhtml/system_config/edit/section/rt_gift_provider" resource="RealThanks_GiftProvider::rt_admin"/>
    </menu>
</config>
